* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  background-color: brown ;
  text-align: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
  border: 2px solid antiquewhite;
  border-radius: 15px;
  width: 60%;
  margin: 40px auto 20px auto;
  background-color: rgb(180, 70, 70);
}

h1 {
  color: antiquewhite;
}

h4{
  color: antiquewhite;
}

button {
  background-color: antiquewhite;
  color: rgb(180, 70, 70);
  border: 2px solid antiquewhite;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  transition: 0.3s ease;
}

button:hover {
  background-color: rgb(215, 190, 156);
  transform: scale(1.05);
}


#paineizinho {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 30px auto;
  width: 90%;
}

.tabuada-coluna {
  border: 2px solid antiquewhite;
  background-color: brown;
  border-radius: 12px;
  width: 180px;
  padding: 15px;
  transition: 0.3s ease;
} 


.tabuada-coluna:hover {
  transform: scale(1.10);
  background-color: rgb(180, 70, 70) ;
}


h2 {
  margin-bottom: 15px;
  color: brown;
}


p {
  margin-bottom: 5px;
  color: antiquewhite;
}